PVDD_DATABASE_URL=jdbc:postgresql://localhost:55432/pvdd
PVDD_DATABASE_USER=pvdd
PVDD_DATABASE_PASSWORD=replace-locally
PVDD_GOOGLE_CLIENT_ID=
PVDD_AGENT_RUNTIME_URL=http://localhost:8090
PVDD_AGENT_RUNTIME_TOKEN=
PVDD_AGENT_RUNTIME_PROVIDER=MOCKED
PVDD_AGENT_RUNTIME_MODEL=mock-model
PVDD_MEETING_SOURCE_BASE_URL=http://localhost:8091
